.settings {
  margin: auto;
  max-width: 750px;
}

h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

.session-icon {
  padding-right: 0.5em;
  color: #7F00FF;
}

.settings {
  margin-top: 20vh;
}

@media (min-width: 600px){
  .settings {
    display: flex;
    align-items: center;
   }
}

